
body {
    background-image: linear-gradient(to right, rgb(224, 248, 9), rgb(17, 54, 71));
}

h2 {
    text-align: center;
    color: #fff;
}

input,
button {
    display: block;
    padding: 15px;
    outline: none;
}
input:hover {
    background-color: rgba(241, 243, 247, 0.979);
}

button {
    margin: 0 60px;
    font-weight: bold;
}

fieldset, legend {
    border: 3px solid #DDF60A;
    border-radius: 3%;
    color: #DDF60A;
    text-align: center;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 3%;
}

.inputBox {
    padding: 15px 0px;
}


